{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                <div class="form-row">
                    <label for="csv_file">Select CSV file:</label>
                    <input type="file" name="csv" id="csv_file" required>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Upload CSV" class="default">
            </div>
        </div>
    </form>
</div>
{% endblock %}